/* #box{
    background-color: aqua;
    /* color :white; */
/* }
.dom{
    color :red;
}

button{
    color :dimgrey; */
/* } */ 

/* p {
    text-align : end;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
    text-decoration: red underline;
    font-weight: bolder;
} */

/* #one{
    font-size: 38px;
}

#two {
    font-size: 22px;
}

#four{
    text-transform: capitalize;
} */



/* h1{
    text-align: center;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration:  red underline;
    border-width: 2px;
    border-style: solid;
    border-color: aqua;
    width: 100px;
    height: 100px;

    
}

#outer{
    font-size: 25px;
    
}

button {
    height: 50px;
    background-color: brown;
    width: 100px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-radius: 50%;

} */

/* div{
    height: 100px;
    width:100px;
    background-color: pink;
    border:4px solid rgb(175, 230, 48);
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-top: 50px;
    
} */


/* div{
    height: 100px;
    width:100px;
    background-color: green;

} */


*{
    padding: 0;
    margin: 0;
    color: white;
}

#navbar{
    height: 60px;
    background-color: black;
}


button{
    background-color: rgb(214, 133, 12);
}

#logo{
    color: yellowgreen;
    font-size: 25px;
}

a {
    margin-left: 200px;
    text-decoration: none;
}